body {
  background-color: gray;
}

h1 {
  color: blue;
}

/* .kiwi-container {
  width: 300px;
  height: 300px;
  background-image: url(../images/kiwi.svg);
} */

/* .ellipse {
  fill: aquamarine;
  stroke: chartreuse;
} */
